<a href="https://colab.research.google.com/github/vandeir95/Apredendo_GitHub/blob/main/ExercioRevisaoTupla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

'''Questões de Python com Conjuntos e Tuplas'''

'''Nível Estagiário'''

'''1 - Crie uma tupla chamada `cores` contendo os elementos `'vermelho'`, `'azul'`, e `'verde'`.
Em seguida, imprima o segundo elemento da tupla.'''
print('tupla cores')
#escreva o código aqui

In [ ]:
cores =("vermelho", 'azul',  'verde')
print(cores[1])

azul


'''2 - Dada a tupla `numeros = (10, 20, 30, 40, 50)`, acesse e imprima o terceiro elemento.'''
#escreva o código aqui

In [ ]:
numeros = (10, 20, 30, 40, 50)
print(numeros[2])

30

'''3 - Crie um conjunto chamado `frutas` com os elementos `'maçã'`, `'banana'`, `'laranja'`, e `'uva'`.
Em seguida, adicione o elemento `'abacaxi'` ao conjunto.'''
#escreva o código aqui

In [ ]:
frutas = ('maçã', 'banana', 'laranja', 'uva')
frutas = frutas + ('abacaxi',)


print(frutas)

('maçã', 'banana', 'laranja', 'uva', 'abacaxi')


'''4 - Dado os conjuntos `A = {1, 2, 3, 4}` e `B = {3, 4, 5, 6}`,
imprima a **união** e a **interseção** entre os dois conjuntos.'''
#escreva o código aqui

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
uniao = A.union(B)
intersecao = A.intersection(B)
print("união de A e B",uniao)
print("interseção de A e B",intersecao)

união de A e B {1, 2, 3, 4, 5, 6}
interseção de A e B {3, 4}

'''5 - Escreva uma função `contar_unicos(lista)` que receba uma lista e retorne a quantidade de elementos únicos
utilizando conjuntos.
Exemplo: contar_unicos(['deyverson', 'hulk', 'menin', 'menin', bernard]) deve retornar 4'''
def contar_unicos(lista):
  print('contar_unicos(lista)')
  #remova o print acima e escreva o código aqui
#não esqueça de chamar a função (com argumentos, se necessário) aqui abaixo!

In [ ]:
def contar_unicos(lista):

    lista = set(lista)
    total_itens = len(lista)
    return total_itens


lista = ['deyverson', 'hulk', 'menin', 'menin', 'bernard']

contar_unicos(lista)

4


'''6. Convertendo Lista para Tupla:
Escreva uma função `converter_para_tupla(lista)` que receba uma lista e retorne uma tupla com
os mesmos elementos.
Exemplo:
lista_comentada = [10, 20, 30, 40]
print(converter_para_tupla(lista_comentada)) deve retornar (10, 20, 30, 40)'''
def converter_para_tupla(lista):
  print('converter_para_tupla(lista)')
#remova o print acima e escreva o código aqui
#não esqueça de chamar a função (com argumentos, se necessário) aqui abaixo!

In [ ]:
def converter_para_tupla(lista):
    tupla = tuple(lista)

    return(tupla)

lista_comentada = [10, 20, 30, 40]

converter_para_tupla(lista_comentada)

(10, 20, 30, 40)


'''10. Desempacotando Tuplas:
Dada a tupla `pessoa = ('Ana', 25, 'Engenheira')`, desempacote os elementos da tupla em variáveis individuais e
imprima cada uma.'''
#escreva o código aqui

#boa sorte

In [ ]:


pessoa = ('Ana', 25, 'Engenheira')

for i in pessoa:
  print(i)
  print("-------")

Ana
-------
25
-------
Engenheira
-------











'''Escreva uma função `remover_duplicados(lista)` que receba uma lista e
retorne uma nova lista com os elementos únicos, mantendo a ordem original dos elementos.
Exemplo: lista_exemplo = [1, 2, 2, 3, 4, 4, 5]
remover_duplicados(lista_exemplo) deve retornar [1, 2, 3, 4, 5]
'''
def remover_duplicados(lista):
    print('remover_duplicados(lista)')
#remova o print acima e escreva o código aqui
#não esqueça de chamar a função (com argumentos, se necessário) aqui abaixo!

In [ ]:
def remover_duplicados(lista):
  setes = set(lista)
  nova_lista = list(setes)
  return(nova_lista)

lista_exemplo = [1, 2, 2, 3, 4, 4, 5]

remover_duplicados(lista_exemplo)

[1, 2, 3, 4, 5]